body{
  height: 100vh;
  width: 100%;
  margin: 0; 
  display: flex; 
}


.list {
  background-image: url(./files/list_button.png);
  font-family: FrizQuadrataTT;
  color: rgb(255, 217, 0);
  height: 58px;
  width: 273px;
  text-align: center;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: larger;
  text-overflow: ellipsis;
  transition: all 0.1s linear;
  z-index: 3;
}

#gameList {
  z-index: 1;
  position: absolute;
  top: 12%; 
  left: 12%;
}

@font-face {
  font-family: "FrizQuadrataTT";
  src: url("./files/15662_FrizQuadrataTT.ttf");
}


#background {
  background-image: url('');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
  transition: all 0.2s linear;
  overflow: hidden;
  background: black;
}

#background.active {
  background-image: url('');
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s linear;
}

#background_left{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  
}

#background_right{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

#left_background_picture_inactive {
  background-image: url(./files/background/background_inactive_left.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 50%;
  opacity: 100%;
}

#right_background_picture_inactive {
  background-image: url(./files/background/background_inactive_right.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  opacity: 100%;
}

#left_background_picture_active {
  background-image: url(./files/background/main_background_active_left.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 50%;
  transition: all 0.2s linear;
  opacity: 0%;
}

#right_background_picture_active {
  background-image: url(./files/background/main_background_active_right.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 62vw auto;
  width: 62%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 38%;
  transition: all 0.2s linear;
  opacity: 0%;
  z-index: 1;
}

#rollDice {
  background-image: url(./files/RollDice.png);
  height: 32px;
  width: 245px;
  font-family: FrizQuadrataTT;
  color: rgb(245, 241, 14);
  font-size: larger;
  margin: 0;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s linear;
  border-radius: 6px;
  border: transparent;
  opacity: 1;
  z-index: 2;
}

#rollDice1 {
  background-image: url(./files/RollDice.png);
  height: 32px;
  width: 245px;
  font-family: FrizQuadrataTT;
  color: rgb(245, 241, 14);
  font-size: larger;
  margin: 0;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s linear;
  border-radius: 6px;
  border: transparent;
  opacity: 1;
  z-index: 2;
}

#restart {
  background-image: url(./files/RollDice.png);
  height: 32px;
  width: 245px;
  font-family: FrizQuadrataTT;
  color: rgb(245, 241, 14);
  font-size: larger;
  margin: 0;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s linear;
  border-radius: 6px;
  border: transparent;
  opacity: 0%;
  z-index: 1;
  transition: all 1s linear;
}

#rollDice:disabled {
  opacity: 0.0;
  transition: all 0.5s linear;
  border-radius: 6px;
}

.list.active {
  background-image: url(./files/list_button.png);
  font-family: FrizQuadrataTT;
  color: rgb(245, 241, 14);
  height: 58px;
  width: 273px;
  text-align: center;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: larger;
  transition: all 0.1s linear;
}

.list.inactive {
  background-image: url(./files/list_button.png);
  font-family: FrizQuadrataTT;
  color: rgb(95, 95, 95);
  height: 58px;
  width: 273px;
  text-align: center;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: medium;
  transition: all 0.1s linear;
}

.addGameInput {
  background-image: url(./files/AddGameInputPicture.png);
  height: 66px;
  width: 600px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

#addGame {
  background-image: url(./files/addButton.png);
  width: 44px;
  height: 44px;
  border-radius: 6px;
  border: transparent;
  margin-left: 5px;
}

#removeGame {
  background-image: url(./files/./RemoveButton.png);
  width: 44px;
  height: 44px;
  border-radius: 6px;
  border: transparent;
  margin-left: 5px;
}

#gameInput {
  background-image: url(./files/InputField.png);
  width: 460px;
  height: 44px;
  border-radius: 6px;
  border: transparent;
  color: antiquewhite;
  font-family: FrizQuadrataTT;
  color: rgb(245, 241, 14);
  font-size: medium;
  padding-left: 15px;
}

#footer {
  position: fixed;
  bottom: 0%;
  right: 0%;
  position: absolute;
  z-index: 2;
}

#winnerGame{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: space-around;
  align-items: stretch;
}